 {% extends 'base.html' %}
 {% block title %}Home Page{% endblock title %}
 {% load static %}
 {% block body %}
 <style>
  
 </style>
 <!-- content body-->
<!-- main  landing page slider -->
<section>
    <!-- carousel -->
    <div id="mainPageCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#mainPageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#mainPageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#mainPageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <!-- <div class="carousel-item active"> -->
          <!-- https://via.placeholder.com/1920X800/000000/808080 ?text=Slide 01 -->
          <!-- <img src="https://via.placeholder.com/1920X720/000000/808080" class="d-block w-100" alt="...">
          
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div> -->
        <div class="carousel-item active">
          <picture class="d-block w-100">
            <!-- <source srcset="/static/images/cms/slider/teacher-banner-mobile.jpg"
                    media="(max-width: 800px)"> -->
              <source srcset="/static/images/cms/slider/teacher-banner.webp 2800w, /static/images/cms/slider/teacher-banner-mobile.webp 720w"
              sizes="(min-width: 800px) 2800px, (max-width: 799px) 720w" type="image/webp">

              <source srcset="/static/images/cms/slider/teacher-banner.jpg 2800w, /static/images/cms/slider/teacher-banner-mobile.jpg 720w"
              sizes="(min-width: 800px) 2800px, (max-width: 799px) 720w" type="image/jpg">
              
              <img src="{% static 'images/cms/slider/teacher-banner.jpg' %}" class="img-fluid w-100"  alt="" />
          </picture>

          <div class="curtain">
              <div class="carousel-caption text-start caption-01 d-inline-flex flex-column justify-content-center align-items-start h-100">
                <h5>Open education resoruces,<br>
                  For every student,<br>
                  and Every Teacher.
                </h5>
                <p>Some representative placeholder content for the second slide.</p>
                <button type="button" class="btn theme-btn-primary my-1 mb-3">View All</button>
              </div>
          </div>

        </div>

        <div class="carousel-item">
          <picture class="d-block w-100">
            <!-- <source srcset="/static/images/cms/slider/teacher-banner-mobile.jpg"
                    media="(max-width: 800px)"> -->
              <source srcset="https://via.placeholder.com/1920X720.webp/000000/808080 2800w, https://via.placeholder.com/360x450.webp/FF0000/808080 720w"
              sizes="(min-width: 800px) 2800px, (max-width: 799px) 720w" type="image/webp">

              <source srcset="https://via.placeholder.com/1920X720.jpg/000000/808080 2800w, https://via.placeholder.com/360x450.webp/FF0000/808080 720w"
              sizes="(min-width: 800px) 2800px, (max-width: 799px) 720w" type="image/jpg">
              
              <img src="https://via.placeholder.com/1920X720.jpg/000000/808080" class="img-fluid w-100"  alt="" />
          </picture>

          <div class="curtain">
              <div class="carousel-caption text-center caption-01 d-inline-flex flex-column justify-content-center align-items-center h-100">
                <h5>Open education resoruces,<br>
                  For every student,<br>
                  and Every Teacher.
                </h5>
                <p>Some representative placeholder content for the second slide.</p>
                <button type="button" class="btn theme-btn-primary my-1 mb-3">View All</button>
              </div>
          </div>

        </div>

        <div class="carousel-item">
          <picture class="d-block w-100">
            <!-- <source srcset="/static/images/cms/slider/teacher-banner-mobile.jpg"
                    media="(max-width: 800px)"> -->
              <source srcset="https://via.placeholder.com/1920X720.webp/0000ff/808080 2800w, https://via.placeholder.com/360x450.webp/00ff00/808080 720w"
              sizes="(min-width: 800px) 2800px, (max-width: 799px) 720w" type="image/webp">

              <source srcset="https://via.placeholder.com/1920X720.jpg/0000ff/808080 2800w, https://via.placeholder.com/360x450.webp/00ff00/808080 720w"
              sizes="(min-width: 800px) 2800px, (max-width: 799px) 720w" type="image/jpg">
              
              <img src="https://via.placeholder.com/1920X720.jpg/00ff00/808080" class="img-fluid w-100"  alt="" />
          </picture>

          <div class="curtain">
              <div class="carousel-caption text-end caption-01 d-inline-flex flex-column justify-content-center align-items-end h-100">
                <h5>Open education resoruces,<br>
                  For every student,<br>
                  and Every Teacher.
                </h5>
                <p>Some representative placeholder content for the second slide.</p>
                <button type="button" class="btn theme-btn-primary my-1 mb-3">View All</button>
              </div>
          </div>

        </div>
     
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#mainPageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#mainPageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- carousel ends -->
  </section>
    {% include 'featured_resoruces.html' %}

     <!-- section explore by subjects -->
     <section class="section-container theme-bg-dark-blue bg-style--section-02">
      <h1 class="title text-center align-items-center">
        Explore By Subject<span></span>
      </h1>

      <!-- carousel subjects -->
      <div class="fullwidth-swiper">
        <!-- Swiper -->
        <div class="swiper subject_Swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#" title="subject-name">
                  <div class="swiper-zoom-container">
                    <!-- <img src="https://via.placeholder.com/280X320/0000FF/808080 ?text = each subject" class="img-fluid" alt="subject-name"> -->

                    <picture class="d-block w-100">
                      <!-- <source srcset="/assets/images/cms/slider/teacher-banner-mobile.jpg"
                              media="(max-width: 800px)"> -->
                        <source srcset="https://via.placeholder.com/280X320.webp/0000ff/808080" type="image/webp">
        
                        <source srcset="https://via.placeholder.com/280X320.jpg/0000ff/808080" type="image/jpg">

                        <!-- <source srcset="logo-768.png 768w, logo-768-1.5x.png 1.5x"> -->
                        
                        <img src="https://via.placeholder.com/280X320.jpg/0000ff/808080" class="img-fluid w-100"  alt="" />
                    </picture>
        

                  </div>
               
                <h6>English</h6>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" title="subject-name">
                  <img src="https://picsum.photos/seed/picsum/280/320?random=1" class="img-fluid" alt="subject-name">
                <h6>English</h6>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" title="subject-name">
                  <img src="https://picsum.photos/seed/picsum/280/320?random=2" class="img-fluid" alt="subject-name">
                <h6>English</h6>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" title="subject-name">
                  <img src="https://picsum.photos/seed/picsum/280/320?random=3" class="img-fluid" alt="subject-name">
                <h6>English</h6>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" title="subject-name">
                <img src="https://picsum.photos/seed/picsum/280/320?random=4" class="img-fluid" alt="subject-name">
                <h6>English</h6>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" title="subject-name">
                  <img src="https://picsum.photos/seed/picsum/280/320?random=5" class="img-fluid" alt="subject-name">
                <h6>English</h6>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" title="subject-name">
                  <img src="https://picsum.photos/seed/picsum/280/320?random=6" class="img-fluid" alt="subject-name">
                <h6>English</h6>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" title="subject-name">
                  <img src="https://picsum.photos/seed/picsum/280/320?random=7" class="img-fluid" alt="subject-name">
                <h6>English</h6>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" title="subject-name">
                  <img src="https://picsum.photos/seed/picsum/280/320?random=8" class="img-fluid" alt="subject-name">
                <h6>English</h6>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" title="subject-name">
                  <img src="https://picsum.photos/seed/picsum/280/320?random=9" class="img-fluid" alt="subject-name">
                <h6>English</h6>
                </a>
              </div>


            </div>
            <div class="swiper-pagination swiper-pagination2"></div>
        </div>
        <!-- swiper ends above -->
      </div>
      <!--  carousel subjects ends-->
      <div class="d-flex justify-content-center">
        <button type="button" class="btn theme-btn-primary my-5">View All</button>
      </div>

    </section>
    <!-- section explore by subject ends -->

    <!-- explore -->
    <section class="section-container bg-style--section-05">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-xl-5 col-xxl-6">
            <img src="/static/images/static/explore-01.png" class="img-fluid">
          </div>
          <div class="col-lg-6 col-xl-7 col-xxl-6">
  
           
            <h1 class="title text-center align-items-center text-lg-start align-items-lg-start">
              Explore<br>Digital Resources
              <span></span>
            </h1>
  
            <div class="section-category-list">
  
               <!-- each category -->
               <a href="#" title="" class="each-category">
                <span>
                <img class="img-fluid" src="/static/images/cms/cat-icons/vector-03.svg">
                </span>
                <h6>Tutorials & Concepts</h6>
                
              </a>
              <!-- each category ends -->
  
              <!-- each category -->
              <a href="#" title="" class="each-category">
                <span>
                <img class="img-fluid" src="/static/images/cms/cat-icons/vector-01.svg">
                </span>
                <h6>Modules</h6>
              </a>
              <!-- each category ends -->
  
               <!-- each category -->
               <a href="#" title="" class="each-category">
                <span>
                <img class="img-fluid" src="/static/images/cms/cat-icons/vector-02.svg">
                </span>
                <h6>Digital Interactives</h6>
              </a>
              <!-- each category ends -->
              <!-- each category -->
              <a href="#" title="" class="each-category">
                <span>
                <img class="img-fluid" src="/static/images/cms/cat-icons/vector-02.svg">
                </span>
                <h6>Collections</h6>
              </a>
              <!-- each category ends -->
              
  
               <!-- each category -->
               <!-- <a href="#" title="" class="each-category">
                <span>
                <img class="img-fluid" src="/static/images/cms/cat-icons/vector-04.svg">
                </span>
                <h6>OER Curations</h6>
              </a> -->
              <!-- each category ends -->
  
               <!-- each category -->
              <!-- <a href="#" title="" class="each-category">
                <span>
                <img class="img-fluid" src="/static/images/cms/cat-icons/vector-05.svg">
                </span>
                <h6>Collections</h6>
              </a> -->
              <!-- each category ends -->
  
            </div>
  
  
            
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="#" class="btn theme-btn-primary mb-5 me-3">View All</a>
              <a href="#" class="btn btn-outline-secondary info-btn mb-5" data-bs-toggle="modal" data-bs-target="#staticBackdropInfoModel"><i class="fa-solid fa-circle-info"></i> Know more</a>
            </div>
  
             <!-- Modal -->
  <div class="modal fade" id="staticBackdropInfoModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropInfoModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="staticBackdropInfoModelLabel">About Digital Resources</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body page-content">
          <p>
          Before accessing and using any of the Company’s websites ("Websites") or services ("Services"), you must read the specific terms of use applicable to the access, browsing and use by the users ("User" or "Users", as applicable) of the relevant Website/Service (displayed above), as accessing and using any of the Websites or Services implies that you have read and accept to be bound by the terms of use of the relevant Website or Service. We also recommend regularly checking the applicable terms of use as the Company reserves the right to modify these at any time (the date at the beginning of these terms refers to the latest update of these terms, which will be applicable from the date of publication).
            </p>
            <p>
  If you have any objections regarding the terms of use of the Websites or Services, please refrain from using these.
  </p>
  <p>
  Should any conflict arise between the content of the terms as they are laid out below and the content of the specific terms of use of each Website or Service (displayed above), the specific terms of use of each Website or Service shall always prevail.
  </p>
  <p>
  In respect of collection and processing of personal data, the Privacy policy will apply.
  </p>
  <p>
  In order to use certain Services, the User must register, creating a username and password and activating an account. To this end, the User must provide a valid email address where the User will receive notifications related to the Services. If the User is a legal entity or business, its username must be its full name or corporate name and the person registering on behalf of the legal entity or business declares that he/she is duly authorized to bind such legal entity or business and that such legal entity or business shall be bound to the terms of the relevant Website/Service.
  </p>
  <p>
  The User agrees to provide the mandatory information required for registration and also acknowledges that such information is true, complete and up to date. The User is solely responsible for keeping such information updated. Should the User provide false, outdated or incomplete information, or should the Company have reasons to suspect it, the Company reserves the right to suspend or cancel the User’s account.
  </p>
  <p>
  The User must protect and keep the account password confidential and must not disclose it to third parties. The User must neither allow other Users to access the Services through the User’s account nor use the account of another User to access the Services.
  </p>
  <p>
  The User is responsible for all operations carried out through the User’s account through any device. If the User suspects that another User is using his account, he/she/it should immediately inform the Company.
  </p>
        </div>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>
   <!-- Modal ends-->
  
          </div>
        </div>
  
        <div class="row align-items-center mt-5">
          <div class="col-lg-6 col-xl-5 col-xxl-6 order-lg-2">
            <img src="/static/images/static/explore-02.png" class="img-fluid">
          </div>
          <div class="col-lg-6 col-xl-7 col-xxl-6 order-lg-1">
  
           
            <h1 class="title text-center align-items-center text-lg-start align-items-lg-start">
              Explore<br>Physical Resources
              <span></span>
            </h1>
  
            <div class="section-category-list">
  
              <!-- each category -->
              <a href="#" title="" class="each-category">
                <span>
                <img class="img-fluid" src="/static/images/cms/cat-icons/vector-06.svg">
                </span>
                <h6>books</h6>
              </a>
              <!-- each category ends -->
  
               <!-- each category -->
               <a href="#" title="" class="each-category">
                <span>
                <img class="img-fluid" src="/static/images/cms/cat-icons/vector-07.svg">
                </span>
                <h6>teaching learning
                  Materials</h6>
              </a>
              <!-- each category ends -->
  
  
            </div>
  
  
            
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="#" class="btn theme-btn-primary mb-5 me-3">View All</a>
              <a href="#" class="btn btn-outline-secondary info-btn mb-5" data-bs-toggle="modal" data-bs-target="#staticBackdropInfoModel"><i class="fa-solid fa-circle-info"></i> Know more</a>
            </div>
  
          </div>
        </div>
  
      </div>
      </section>
      <!-- explore ends-->
    
    {% include 'home_event.html' %}
    {% include 'blog.html' %}

    <section class="section-container bg-mild-grey">
      <div class="container ">
        <div class="row justify-content-between align-items-center">
          
          <div class="col-lg-6 order-lg-2">
            
            <img class="img-fluid" src="{% static '/images/static/subscribe-01.png' %}">
  
          </div>
          <div class="col-lg-6 order-lg-1">
            
            <h1 class="title text-center align-items-center text-md-start align-items-md-start my-2">
              Stay tuned with all the excited happenings at the RACHANA Resource Centre and Design Lab
            </h1>
  
            <form class="my-3 needs-validation" novalidate id="subscribe-form">
            <div class="row">
              <div class="col-lg-8 my-2">
                <input type="email" class="form-control" placeholder="Share your email address" aria-label="Share your email address" required>
                <div class="invalid-feedback">
                  Please enter you email address.
                </div>
              </div>
              <div class="col-lg-4 my-2">
                <button type="submit" class="btn theme-btn-primary">Subscribe us</button>
              </div>
            </div>
            </form>
  
  
  
          </div>
        </div>
  
      </div>
    </section>
    
    
    {% include 'why_rachana.html' %}
    
    <section class="section-container bg-morph-circles-sm">
      <div class="w-100">
        <div class="row gx-0">
          <div class="col">
            
            <h1 class="title text-center align-items-center">
              What people say
              <span></span>
            </h1>
  
          </div>
        </div>
        <div class="row gx-0">
          <div class="col">
            
            <div class="boxed-swiper">
              <!-- Swiper -->
              
              <div class="swiper featured-swiper testimonials-slider"> 
               <div class="swiper-wrapper">
  
                <!-- swiper slide -->
                 <div class="swiper-slide">
                   <div class="display-card">
                     
                     <div class="card-data-section">
                     
                       <div class="content testimonial-content">
                      
                        <p class="desc">
                          Meet fellow students and ask for help and reviews of your code. Programming is a team activity, so make the jump and share your code and knowledge with others.”
                          Meet fellow students and ask for help and reviews of your code. Programming is a team activity, so make the jump and share your code and knowledge with others.”
                        </p>

                        <h5 class="by">Satej Shende</h5>
                        <h6 class="pin">Tiss, Proejct Manager</h6>
                        <div class="loc">Mumbai</div>
        
                      </div>

                     </div>
                  
                   </div>
                 </div>
                 <!-- swiper slide ends-->

                 <!-- swiper slide -->
                 <div class="swiper-slide">
                  <div class="display-card">
                    
                    <div class="card-data-section">
                    
                      <div class="content testimonial-content">
                     
                       <p>
                          2 Meet fellow students and ask for help and reviews of your code. Programming is a team activity, so make the jump and share your code and knowledge with others.”
                         Meet fellow students and ask for help and reviews of your code. Progr others.”
                       </p>

                       <h5>Satej Shende</h5>
                       <h6>Tiss, Proejct Manager</h6>
                       <div>Mumbai</div>
       
                     </div>

                    </div>
                 
                  </div>
                </div>
                <!-- swiper slide ends-->

                <!-- swiper slide -->
                <div class="swiper-slide">
                  <div class="display-card">
                    
                    <div class="card-data-section">
                    
                      <div class="content testimonial-content">
                     
                       <p>
                         3 Meet fellow students and ask for help and reviews of your code. Programming is a team activity, so makemp and share your code and knowledge with others.”
                       </p>

                       <h5>Satej Shende</h5>
                       <h6>Tiss, Proejct Manager</h6>
                       <div>Mumbai</div>
       
                     </div>

                    </div>
                 
                  </div>
                </div>
                <!-- swiper slide ends-->

                <!-- swiper slide -->
                <div class="swiper-slide">
                  <div class="display-card">
                    
                    <div class="card-data-section">
                    
                      <div class="content testimonial-content">
                     
                       <p>
                        4 Meet fellow students and ask for help and reviews of your code. Programming is a team activity, so make the jump and share your code and knowledge with others.”
                         Meet fellow students and ask for help and reviews of your code. Programming is a team activity, so make the jump and share your code and knowledge with others.”
                       </p>

                       <h5>Satej Shende</h5>
                       <h6>Tiss, Proejct Manager</h6>
                       <div>Mumbai</div>
       
                     </div>

                    </div>
                 
                  </div>
                </div>
                <!-- swiper slide ends-->
  
               </div>
               <!-- <div class="swiper-pagination swiper-pagination5"></div> -->
             </div>
             <!-- <div class="swiper-button-next"></div>
             <div class="swiper-button-prev"></div> -->
             </div>
             <!-- swiper ends above -->
  
          </div>
        </div>
  
      </div>
    </section>
    <!-- on page load model -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop_onPageLoad_model" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="staticBackdropLabel">&nbsp;</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <a href="#">
          <img src="{% static '/images/static/subscribe-01.png' %}" class="img-fluid">
        </a>
      </div>
      <div class="modal-footer border-0">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <a href="#" type="button" class="btn btn-primary">Redirect</a>
      </div>
    </div>
  </div>
</div>


    <!-- model ends -->

        <!-- toasts -->
    {% comment %} {% include 'footer.html' %} {% endcomment %}
    {% endblock body %}
   