{% extends 'base.html' %}
{% block title %}User Notifications{% endblock title %}
{% load static %}
{% block body %}



<div class="body-container" >
    <!-- Sub header (internal pages) -->
    <section class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="mt-3 mb-1">Notifications</h2>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">My Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">Notificaitons</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="subNav">
      <button class="btn btn-primary btn-subnav" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSubNav" aria-expanded="false" aria-controls="collapseSubNav">
        <span><i class="fa-brands fa-microsoft"></i> Digital Resource</span> <i class="fa-solid fa-angles-down"></i>
      </button>
      <div class="container-sm g-0 g-sm-2">
        <div class="row g-0">
          <div class="col">
      <div class="collapse" id="collapseSubNav">
        <nav class="nav nav-pills flex-column flex-sm-row justify-content-center">
          <a class=" text-sm-center nav-link active" aria-current="page" href="#"><i class="fa-solid fa-display"></i> Digital</a>
          <a class=" text-sm-center nav-link" href="#"><i class="fa-solid fa-book-open"></i> Physical</a>
         
        </nav>
        </div>
          </div>
        </div>
      </div>
    </section> -->

    <section class="page-content-layer ">
      <div class="container-fluid container-lg">
        <div class="row align-items-stretch justify-content-center " >
          <div class="col-10 col-lg-12 col-xl-9 order-2">

            <section class="section-container page-content position-relative has-filter-layer " >

        <!-- alert here if required -->
          
              <div class="row btn-filters-layer justify-content-center justify-content-xl-end">
                <div class="col-lg-12 col-xl-11">
                  <div class="d-flex justify-content-end align-items-center">
                  <span class="fst-italic me-3 text-muted">Filter By:</span>
                    <div class="btn-group filtering" role="group" aria-label="Basic outlined example">
                      <button type="button" data-cat="all" class="btn btn-sm btn-outline-secondary cat-all active">All</button>
                      <button type="button" data-cat="unread" class="btn btn-sm btn-outline-secondary">Unread</button>
                      <button type="button" data-cat="read" class="btn btn-sm btn-outline-secondary">Read</button>
                    </div>
                  </div>
                 
                </div>
              </div>

              <div class="row mt-2 mb-5 ms-xl-5 justify-content-start">
                <div class="col-lg-12">
                  <div class="list-of-notificaitons filter-cat-results">
                    
                  <!-- each card notificaiton -->
                  <div class="card each-notificaiton-card f-cat" data-cat="unread">
                    <div class="card-body">
                      <h5 class="card-title">Card type 1</h5>
                      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      <span>
                      <span class="text-muted fst-italic">15 minutes ago</span>
                      <span class="badge bg-danger ms-2">Unread</span>
                      </span>
                      <a href="#" class="card-link">View Notificaiton</a>
                      </div>
                    </div>
                  </div>
                  <!-- each card notificaiton ends -->
                  <!-- each card notificaiton -->
                  <div class="card each-notificaiton-card f-cat" data-cat="read">
                    <div class="card-body">
                      <h5 class="card-title">Card type 2</h5>
                      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      <span>
                      <span class="text-muted fst-italic">15 minutes ago</span>
                      <!-- <span class="badge bg-danger ms-2">Unread</span> -->
                      </span>
                      <a href="#" class="card-link">View Notificaiton</a>
                      </div>
                    </div>
                  </div>
                  <!-- each card notificaiton ends -->
                  <!-- each card notificaiton -->
                  <div class="card each-notificaiton-card f-cat" data-cat="unread">
                    <div class="card-body">
                      <h5 class="card-title">Card type 3</h5>
                      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      <span>
                      <span class="text-muted fst-italic">15 minutes ago</span>
                      <span class="badge bg-danger ms-2">Unread</span>
                      </span>
                      <a href="#" class="card-link">View Notificaiton</a>
                      </div>
                    </div>
                  </div>
                  <!-- each card notificaiton ends -->

                </div>

                <div class="infinite-loader">
                <div class="d-flex align-items-center">
                  <strong>Loading...</strong>
                  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                </div>
                </div>

                <div class="load-more-action d-flex justify-content-center">
                </div>





              </div>

   


            </section>

          </div>
          <!-- section col-8 ends above -->
          <!-- just change order and border-right to make sidebar left side -->
          <div class="col-lg-12 col-xl-3 order-1 sidebar border-right">
           
              <div class="quick-sticky-nav stick-this section-container">
                <!-- side nav -->
                <div class="side-nav-contaianer">
                  <button class="side-sticky-btn">
                    <i class="fi fi-rs-list"></i> Quick Links
                  </button>
                  <h6 class="title"><i class="fa-solid fa-table-list"></i> My Account</h6>
                    <div class="list-group side-nav">
                      
                      <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-angles-right"></i>Dashboard</a>
                      
                      <a href="{% url 'user-profile' %}" class="list-group-item list-group-item-action"><i class="fa-solid fa-angles-right"></i>Profile</a>
                      <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        <i class="fa-solid fa-angles-right"></i>Notificaitons
                      </a>
                      <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-angles-right"></i>Bookmarks</a>
                      <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-angles-right"></i>My Resources</a>
                    </div>
                </div>
                <!-- side nav ends -->
            </div>
            <div class="sidebar-content">
            
            </div>
            <!-- sidebar ends above -->
          </div>
          <!-- section col-4 ends above -->
        </div>
      </div>
    </section>


    <!-- Sub header ends -->

    <!--  -->
    </div> 
    <!-- body container ends above -->




{% endblock body %}