<style>
  @media (min-width: 576px) {
    
  
    .navbar-toggler {
        order:4;
    }
  
    .collapse {
        order:3;
    }
    navbar-brand{
      order:1;
    }
    login{
      order:2;
    }
  }
 </style>
 <section class="top-header sticky-section">
        <div class="container-fluid">
  <!-- if w-100 above then g-0 below-->
          <div class="row justify-content-start justify-content-lg-end align-items-center">
            <div class="col-auto me-auto">
              <div class="ist">
                <!-- setcurrentime by js -->
              </div>
            </div>
            <div class="col-auto">
              <ul class="nav-horizonal-links top-bar-links align-items-center">
                <li>
                  <img src="/static/images/static/accessablity-icon.svg" class="img-fluid icon-type me-1"> <a href="#">Accessibility Tools</a>
                </li>
                <li>
                  
                  <!-- mode button -->
                  <div class="form-check form-switch mode-toggler">
                    <label class="form-check-label " for="flexSwitchCheckChecked"><i class="fa-solid fa-circle-half-stroke"></i> <span  id="modeLabel">Setting</span>&nbsp;Mode</label>
                    <input class="form-check-input " type="checkbox" id="flexSwitchCheckChecked" >
                  </div>
                  <!-- modebutton ends -->
                </li>
                <li class="font_size_manager">
                  <button type="button" class="btn btn-sm btn-rounded btn-outline-dark" id="_smallify">-</button>
                  
                  <button type="button" class="btn btn-sm btn-link" id="_reset">
                    <i class="fa-solid fa-font me-1"></i>Font Size
                  </button>
                  
                  <button type="button" class="btn btn-sm btn-rounded btn-outline-dark" id="_biggify">+</button>
                </li>
                <li>
                  <div class="dropdown">
                    <button class="btn dropdown-toggle p-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-earth-europe"></i> English
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">English</a></li>
                      <li><a class="dropdown-item" href="#">Hindi</a></li>
                      <li><a class="dropdown-item" href="#">Marathi</a></li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
  
        </div>
        </section>
      <!-- nav bar -->
      <!-- w-100 -->
      

      <!-- top bar ends -->
      
      <!-- nav bar -->
      <div class="container-fluid nav-layer">
        <!-- if w-100 above then g-0 below-->
        <div class="row justify-content-between">
      <div class="">

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid g-0">
            <div class="d-flex">
            <a class="navbar-brand order-2 order-lg-1 mx-2 me-lg-1" href="/">
              <img src="static/images/logo-vr.svg" class="img-fluid">
            </a>
            <button class="navbar-toggler collapsed order-1 order-lg-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <!-- <span class="navbar-toggler-icon "></span> -->
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            </div>
            <div class="collapse navbar-collapse order-4" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-angles-right d-lg-none"></i>Home</a>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-angles-right d-lg-none"></i>Explore Resoruces
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'digital-resources' %}">Digital</a></li>
                    <li><a class="dropdown-item" href="#">Physical</a></li>
                    <!-- <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                  </ul>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'digital_lab' %}"><i class="fa-solid fa-angles-right d-lg-none"></i>Design Lab</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa-solid fa-angles-right d-lg-none"></i>Join Discussion</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa-solid fa-angles-right d-lg-none"></i>Events & Workshop</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}"><i class="fa-solid fa-angles-right d-lg-none"></i>About</a>
                </li>

                <!-- <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
              </ul>
            
            </div>

            
            <!-- auth notification & seaerch section -->
            <div class="login order-3 order-lg-4">
              <ul class="nav-horizonal-links main-nav-bar-links align-items-center">
                <li >
                  <button class="btn theme-rounded-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearchBox" aria-expanded="false" aria-controls="collapseSearchBox">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </li>
                <li>
                  <!-- notificaiton -->
                  <!-- add class= has_new_alerts to show alert red dot-->
              <div class="dropdown notificaitons-dropdown always-clickable py-2">
                <button class="btn dropdown-toggle position-relative no-down-arrow theme-rounded-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-bell"></i> 

                  <span class="translate-middle p-1 bg-danger border border-light rounded-circle noti-alert-pin">
                    <span class="visually-hidden">New alerts</span>
                  </span>

                </button>
                <div class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownMenuButton1">
                  <div class="notification-header d-flex justify-content-between">
                    <h6>Notificaitons</h6> <a href="#">View All</a>
                </div>
                <ul class="dropdown-menu-list notifications-bucket-list">
                  <!-- unread notificaiton standard -->
                  <li>
                    <a href="#" class="top-text-block unread each-notificaiton" data-nid="1">
                      <div class="top-text-heading ">You have <b>3 new themes</b> trending</div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="top-text-light">15 minutes ago</div>
                        <div class="read-status">
                          <span class="badge rounded-pill bg-danger">Unread</span>
                        </div>
                      </div>
                    </a> 
                  </li>
                  <!-- read notificaiton standard -->
                  <!-- <li>
                    <a href="#" class="top-text-block">
                      <div class="top-text-heading">New asset recommendations in <b>Gaming Laptop</b></div>
                      <div class="top-text-light">2 hours ago</div>
                    </a> 
                  </li>
                  <li>
                    <a href="#" class="top-text-block">
                      <div class="top-text-heading">New asset recommendations in <b>5 themes</b></div>
                      <div class="top-text-light">4 hours ago</div>
                    </a> 
                  </li>
                  <li>
                    <a href="#" class="top-text-block">
                      <div class="top-text-heading">static specifications modified in themes</div>
                      <div class="top-text-light">4 hours ago</div>
                    </a> 
                  </li>
                  <li>
                    <a href="#" class="top-text-block">
                      <div class="top-text-heading">We crawled <b>www.dell.com</b> successfully</div>
                      <div class="top-text-light">5 hours ago</div>
                    </a> 
                  </li>
                  <li>
                    <a href="#" class="top-text-block">
                      <div class="top-text-heading">Next crawl scheduled on <b>10 Oct 2016</b></div>
                      <div class="top-text-light">6 hours ago</div>
                    </a> 
                  </li>
                  <li>
                    <a href="#" class="top-text-block">
                      <div class="top-text-heading">You have an update for <b>www.dell.com</b></div>
                      <div class="top-text-light">7 hours ago</div>
                    </a> 
                  </li>
                  <li>
                    <a href="#" class="top-text-block">
                      <div class="top-text-heading"><b>"Gaming Laptop"</b> is now trending</div>
                      <div class="top-text-light">7 hours ago</div>
                    </a> 
                  </li> -->
                  
                </ul>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- notificaiton ends -->
                </li>
                <li>
                  <!-- auth user -->
                  <div class="dropdown">
                    <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <!-- https://picsum.photos/40 -->
                      <img src="/static/images/static/default/user-profile-image.png" class="img-thumbnail rounded-circle nav-user-image" alt="Profile Image"> <span class="d-none d-md-inline-block">Anant</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">My Dashboard</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                  </div>
                  <!-- auth user ends -->
                </li>

                <!-- ** if user not logged in ** -->
                <!-- reverse-combo class can be used to reverse button color -->
                <li>
                  <a href="#" class="btn btn-sm theme-btn-primary base-style" data-bs-toggle="modal" data-bs-target="#loginModel" ><i class="fi fi-rs-user"></i> Sign In</a>
                </li>
                
                
              </ul>
              

              
            </div>
             <!-- auth notification & seaerch section ends-->
        </nav>

      </div>
     
      </div> 
      <!-- row ends above -->

      </div>

      <!-- search container --> 
      <div class="top-search-box collapse" id="collapseSearchBox">

        <div class="search-container" >
          <div class="container">
            <div class="row justify-content-center align-items-center">
              <div class="col col-sm-10 col-md-9 col-lg-8">
                <div class="searchbox-layer">
                <button type="button" class="btn-close" aria-label="Close" id="search-close-btn"></button>
              <form class="d-flex" name="form_search" action="/action_page.php" method="get">
                  <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button> -->
                  <div class="input-group mb-3 searchbox">
                   
                    <input type="text" class="form-control" aria-label="Text input with dropdown button" id="searchField" placeholder="Search ...">
                    <select class="form-select" id="inputGroupSelect01">
                      <!-- <option selected>Select One</option> -->
                      <option value="1" selected>Resoruces</option>
                      <option value="2">Events</option>
                      <option value="3">Blogs</option>
                    </select>
                    <button class="form-control btn btn-seacrh-submit" type="submit" value="Submit"><i class="fi fi-rs-search"></i></button>
                  </div>
                </form>
                </div>
              </div>
            </div>
  
          </div>
        </div>

      </div>
      
      <!-- search container ends -->


      <!-- nav bar ends -->