{% extends 'base.html' %}
{% block title %}FAQ{% endblock title %}
{% load static %} 
{% block body %}

<div class="body-container">
    <!-- Sub header (internal pages) -->
    <section class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="mt-3 mb-1">Faq's</h2>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Faq's</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>


    <section class="section-container page-content">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-heading1">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse1" aria-expanded="true" aria-controls="panelsStayOpen-collapse1">
                      <span class="faq-circle">1</span>What is RTICT?
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading1">
                    <div class="accordion-body">
                      <p>It is a 20 credit post-graduate Reflective Teaching with Information Communication Technology (RTICT) certificate programme for teachers. This is conducted by the Centre of Excellence in Teacher Education CETE (formerly CEIAR), a TISS initiative, to develop critical perspectives, understanding and skills of ICT use for teaching-learning and professional development.</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-heading2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse2" aria-expanded="false" aria-controls="panelsStayOpen-collapse2">
                        <span class="faq-circle">2</span>Whom is the course designed for?
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading2">
                    <div class="accordion-body">
                      <p>RTICT is designed as a programme of teacher professional development for in-service teachers that aims to enhance the practice of elementary (upper primary) and secondary school teachers, with a special focus on the use of ICT in improving the quality of education and pedagogy.</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-heading3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse3" aria-expanded="false" aria-controls="panelsStayOpen-collapse3">
                        <span class="faq-circle">3</span>What is a modular option in RTICT?
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapse3" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading3">
                    <div class="accordion-body">
                      <p>Select courses from the RTICT Programme certification will be announced periodically and learners can enrol in these courses for stand-alone digital certification from the Centre of Excellence in Teacher Education CETE (formerly CEIAR).</p>
                       <p>Learners can choose to slowly build their portfolio to work towards the RTICT programme certification within a three year period from completing the first course.</p> 
                        <p>Learners of the RTICT Programme Certification can also choose to enrol in additional courses and get modular certificates for the add-on courses.</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-heading4">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="false" aria-controls="panelsStayOpen-collapse4">
                          <span class="faq-circle">4</span>What is the minimum educational qualification required to enrol in the course?
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading4">
                      <div class="accordion-body">
                        <p>The core criteria for enrolment would be to necessarily have completed one's graduation and having access to about 5 learners to be able to implement teaching strategies using ICT.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-heading5">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse5" aria-expanded="false" aria-controls="panelsStayOpen-collapse5">
                          <span class="faq-circle">5</span>What is PG-RTICT Cohort Model?
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapse5" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading5">
                      <div class="accordion-body">
                        <p>Select courses from the RTICT Programme certification will be announced periodically and learners can enrol in these courses for stand-alone digital certification from the Centre of Excellence in Teacher Education CETE (formerly CEIAR).</p>
                         <p>Learners can choose to slowly build their portfolio to work towards the RTICT programme certification within a three year period from completing the first course.</p> 
                          <p>Learners of the RTICT Programme Certification can also choose to enrol in additional courses and get modular certificates for the add-on courses.</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-heading6">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse6" aria-expanded="false" aria-controls="panelsStayOpen-collapse6">
                          <span class="faq-circle">6</span>Is this UGC recognized programme?
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapse6" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading6">
                      <div class="accordion-body">
                        <p>The PG-RTICT program is approved by the Academic Council of Tata Institute of Social Sciences, Deemed University. Certificate courses are offered by Colleges and Universities and this is one of them. UGC recognition is not needed for it.</p>
                      </div>
                    </div>
                  </div>
                  
              </div>
        </div>
        </div>
      </div>
    </section>
    <!-- Sub header ends -->

    <!--  -->
    </div> 
    <!-- body container ends above -->



{% endblock body %}