 {% load static %}
 <!-- main landing page slider -->
<!-- resources slider -->
<section class="section-container bg-style--section-01">
    <div class="container">
      <div class="row">
        <div class="col">
  
          <h1 class="title text-center align-items-center">
            Featured resoruces<span></span>
          </h1>
  
          <div class="boxed-swiper">
  <!-- Swiper -->
  
  <div class="swiper featured-swiper resource-slider"> 
  <div class="swiper-wrapper">
  <div class="swiper-slide">
     <!-- each card -->
     <div class="display-card">
     
      <!-- add documntaiton -->
      
      <!-- <button class="btn bookmark saved" data-rid="1" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from Bookmark"><i class="fa-solid fa-bookmark"></i></button> -->
  <!-- style="--ribbon-bg-color: #0CAC8B; --ribbon-text-color: #ffffff;" if we want to use css variables in future -->
      <div class="ribbon-lbl ribbion-bg-yellow" >
        <span class="cat-icon" ><img src="{% static '/images/cms/cat-icons/vector-01.svg' %}" class="img-fluid"></span>
        <span class="cat-name">Module</span>
      </div>
      <div>
      <div class="image-layer">
       
        <a href="#">
      <picture class="d-block w-100">
        <!-- <source srcset="/static/images/cms/slider/teacher-banner-mobile.jpg"
                media="(max-width: 800px)"> -->
          <source srcset="https://via.placeholder.com/360x240.webp/0000ff/808080" type="image/webp">
  
          <source srcset="https://via.placeholder.com/480x320.jpg/0000ff/808080" type="image/jpg">
  
          <!-- <source srcset="logo-768.png 768w, logo-768-1.5x.png 1.5x"> -->
          
          <img src="https://via.placeholder.com/480x320.jpg/0000ff/808080" class="img-fluid w-100"  alt="" />
      </picture>
      </a>
      </div>
      </div>
  
    <!-- <a href="#" title="subject-name"> -->
      <div class="card-content">
        <button class="btn bookmark saved" data-rid="1" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from Bookmark"><i class="fa-solid fa-bookmark"></i></button>
      <div class="card-data-section">
        <!-- <img src="https://via.placeholder.com/280X320/0000FF/808080 ?text = each subject" class="img-fluid" alt="subject-name"> -->
       
        
          
          <div class="content">
            <a href="">
            <h5 class="title ellipsis-2-lines"> New Proportional Reasoning lorem ispum can do it Proportional Reasoning lorem ispum can do it</h5>
            </a>
            <!-- <div class="w-100">
              <div class="row g-0 flex-column">
                <div class="col">
                  <strong>Subject:</strong> English jaklsjjalsjljalsdjlajdsl
                </div>
                <div class="col">
                  <strong>Topic:</strong> Computer Science
                </div>
              </div>
            </div> -->
            <div class="infoset">
              <ul class="data-list">
                <li class="ellipsis-1-line"><strong>Subject:</strong> English  jaklsjjalsjljalsdjlajdsljaklsjj alsjljalsdjlajdsljaklsjjalsjljalsdjlajdsl</li>
                <li class="ellipsis-1-line"><strong>Topic:</strong> Computer Science</li>
             
              </ul>
            </div>
              
            
          
        </div>
  
  
      </div>
      <div class="card-infographics">
        <div class="slidingbox-layer">
  
  
          <div class="desc">
            <ul class="data-list">
              <!-- <li class="ellipsis-1-line"><strong>Subject:</strong> English asjkajdjaljsdlkjaklsjd kjal djslka s</li>
              <li class="ellipsis-1-line"><strong>Topic:</strong> Computer Science</li> -->
              <li class="ellipsis-1-line"><strong>For Grade:</strong> 1,2,3,4,5</li>
              <li class="ellipsis-1-line"><strong>Language:</strong> English</li>
              <li class="ellipsis-1-line"><strong>Translation Available in:</strong><br><a href="/telgu">Telgu</a>, Marathi ... 
                <a href="/telgu" class="card-lang-link" data-rid="c1" >+ 4 languages</a></li>
            </ul>
          </div>
          <ul class="info-list my-2">
            <li><i class="fi fi-rs-clock"></i> 10 Mins read</li>
            <li><i class="fi fi-rs-users"></i> For: Teachers</li>
          </ul>
        <!-- <ul class="info-list ">
        
          <li>10 Likes</li>
          <li>30 Comments | 500 Views</li>
          
        </ul> -->
  
        <ul class="social-info-list">
          <!-- fNormal state -->
          <li><button class="btn btn-link manageLike" data-rid="1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Like"><i class="fa-regular fa-heart"></i><span>1k</span></button></li>
          <li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Comment"><i class="fi fi-rs-comment"></i> 5</a></li>
          <li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Views"><i class="fi fi-rs-eye"></i> 1500</a></li>
          <!-- if user likes it active state -->
          <!-- <li><button class="btn btn-link liked" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Unlike" ><i class="fa-solid fa-heart"></i> Liked</button></li>
          -->
          <li><button data-rid="1" data-hlink="https://anant.salgaonkar.in" class="btn btn-link share-card-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Share"><i class="fa-solid fa-share-nodes"></i> 999</button></li>
        </ul>
  
        </div>
        
      </div>
      </div>
      <!-- card content ends above -->
   
    <!-- </a> -->
    </div>
    <!-- each card ends -->
  </div>
  
  <div class="swiper-slide">
     <!-- each card -->
     <div class="display-card">
     
      <!-- add documntaiton -->
      
      <!-- <button class="btn bookmark saved" data-rid="1" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from Bookmark"><i class="fa-solid fa-bookmark"></i></button> -->
  <!-- style="--ribbon-bg-color: #0CAC8B; --ribbon-text-color: #ffffff;" if we want to use css variables in future -->
      <div class="ribbon-lbl ribbion-bg-orange" >
        <span class="cat-icon" ><img src="/static/images/cms/cat-icons/vector-02.svg" class="img-fluid"></span>
        <span class="cat-name">Module</span>
      </div>
      <div>
      <div class="image-layer">
       
        <a href="#">
      <picture class="d-block w-100">
        <!-- <source srcset="/static/images/cms/slider/teacher-banner-mobile.jpg"
                media="(max-width: 800px)"> -->
          <source srcset="https://via.placeholder.com/360x240.webp/0000ff/808080" type="image/webp">
  
          <source srcset="https://via.placeholder.com/480x320.jpg/0000ff/808080" type="image/jpg">
  
          <!-- <source srcset="logo-768.png 768w, logo-768-1.5x.png 1.5x"> -->
          
          <img src="https://via.placeholder.com/480x320.jpg/0000ff/808080" class="img-fluid w-100"  alt="" />
      </picture>
      </a>
      </div>
      </div>
  
    <!-- <a href="#" title="subject-name"> -->
      <div class="card-content">
        <button class="btn bookmark" data-rid="1" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to Bookmark"><i class="fa-regular fa-bookmark"></i></button>
      <div class="card-data-section">
        <!-- <img src="https://via.placeholder.com/280X320/0000FF/808080 ?text = each subject" class="img-fluid" alt="subject-name"> -->
       
        
          
          <div class="content">
            <a href="">
            <h5 class="title ellipsis-2-lines"> New Proportional Reasoning lorem ispum can do it Proportional Reasoning lorem ispum can do it</h5>
            </a>
            <!-- <div class="w-100">
              <div class="row g-0 flex-column">
                <div class="col">
                  <strong>Subject:</strong> English jaklsjjalsjljalsdjlajdsl
                </div>
                <div class="col">
                  <strong>Topic:</strong> Computer Science
                </div>
              </div>
            </div> -->
            <div class="infoset">
              <ul class="data-list">
                <li class="ellipsis-1-line"><strong>Subject:</strong> English  jaklsjjalsjljalsdjlajdsljaklsjj alsjljalsdjlajdsljaklsjjalsjljalsdjlajdsl</li>
                <li class="ellipsis-1-line"><strong>Topic:</strong> Computer Science</li>
             
              </ul>
            </div>
              
            
          
        </div>
  
  
      </div>
      <div class="card-infographics">
        <div class="slidingbox-layer">
  
  
          <div class="desc">
            <ul class="data-list">
              <!-- <li class="ellipsis-1-line"><strong>Subject:</strong> English asjkajdjaljsdlkjaklsjd kjal djslka s</li>
              <li class="ellipsis-1-line"><strong>Topic:</strong> Computer Science</li> -->
              <li class="ellipsis-1-line"><strong>For Grade:</strong> 1,2,3,4,5</li>
              <li class="ellipsis-1-line"><strong>Language:</strong> English</li>
              <li class="ellipsis-1-line"><strong>Translation Available in:</strong><br><a href="/telgu">Telgu</a>, Marathi ... 
                <a href="/telgu" class="card-lang-link" data-rid="c1" >+ 4 languages</a></li>
            </ul>
          </div>
          <ul class="info-list my-2">
            <li><i class="fi fi-rs-clock"></i> 10 Mins read</li>
            <li><i class="fi fi-rs-users"></i> For: Teachers</li>
          </ul>
  
  
        <ul class="social-info-list">
          <!-- fNormal state -->
          <li><button class="btn btn-link manageLike" data-rid="1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Like"><i class="fa-regular fa-heart"></i><span>1k</span></button></li>
          <li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Comment"><i class="fi fi-rs-comment"></i> 5</a></li>
          <li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Views"><i class="fi fi-rs-eye"></i> 1500</a></li>
          <!-- if user likes it active state -->
          <!-- <li><button class="btn btn-link liked" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Unlike" ><i class="fa-solid fa-heart"></i> Liked</button></li>
          -->
          <li><button data-rid="1" data-hlink="https://anant.salgaonkar.in" class="btn btn-link share-card-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Share"><i class="fa-solid fa-share-nodes"></i> 999</button></li>
        </ul>
  
        </div>
        
      </div>
      </div>
      <!-- card content ends above -->
   
    <!-- </a> -->
    </div>
    <!-- each card ends -->
  </div>
  <div class="swiper-slide">
    <!-- each card -->
    <div class="display-card">
    
     <!-- add documntaiton -->
     
     <!-- <button class="btn bookmark saved" data-rid="1" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from Bookmark"><i class="fa-solid fa-bookmark"></i></button> -->
 <!-- style="--ribbon-bg-color: #0CAC8B; --ribbon-text-color: #ffffff;" if we want to use css variables in future -->
     <div class="ribbon-lbl ribbion-bg-orange" >
       <span class="cat-icon" ><img src="/static/images/cms/cat-icons/vector-02.svg" class="img-fluid"></span>
       <span class="cat-name">Module</span>
     </div>
     <div>
     <div class="image-layer">
      
       <a href="#">
     <picture class="d-block w-100">
       <!-- <source srcset="/static/images/cms/slider/teacher-banner-mobile.jpg"
               media="(max-width: 800px)"> -->
         <source srcset="https://via.placeholder.com/360x240.webp/0000ff/808080" type="image/webp">
 
         <source srcset="https://via.placeholder.com/480x320.jpg/0000ff/808080" type="image/jpg">
 
         <!-- <source srcset="logo-768.png 768w, logo-768-1.5x.png 1.5x"> -->
         
         <img src="https://via.placeholder.com/480x320.jpg/0000ff/808080" class="img-fluid w-100"  alt="" />
     </picture>
     </a>
     </div>
     </div>
 
   <!-- <a href="#" title="subject-name"> -->
     <div class="card-content">
       <button class="btn bookmark" data-rid="1" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to Bookmark"><i class="fa-regular fa-bookmark"></i></button>
     <div class="card-data-section">
       <!-- <img src="https://via.placeholder.com/280X320/0000FF/808080 ?text = each subject" class="img-fluid" alt="subject-name"> -->
      
       
         
         <div class="content">
           <a href="">
           <h5 class="title ellipsis-2-lines"> New Proportional Reasoning lorem ispum can do it Proportional Reasoning lorem ispum can do it</h5>
           </a>
           <!-- <div class="w-100">
             <div class="row g-0 flex-column">
               <div class="col">
                 <strong>Subject:</strong> English jaklsjjalsjljalsdjlajdsl
               </div>
               <div class="col">
                 <strong>Topic:</strong> Computer Science
               </div>
             </div>
           </div> -->
           <div class="infoset">
             <ul class="data-list">
               <li class="ellipsis-1-line"><strong>Subject:</strong> English  jaklsjjalsjljalsdjlajdsljaklsjj alsjljalsdjlajdsljaklsjjalsjljalsdjlajdsl</li>
               <li class="ellipsis-1-line"><strong>Topic:</strong> Computer Science</li>
            
             </ul>
           </div>
             
           
         
       </div>
 
 
     </div>
     <div class="card-infographics">
       <div class="slidingbox-layer">
 
 
         <div class="desc">
           <ul class="data-list">
             <!-- <li class="ellipsis-1-line"><strong>Subject:</strong> English asjkajdjaljsdlkjaklsjd kjal djslka s</li>
             <li class="ellipsis-1-line"><strong>Topic:</strong> Computer Science</li> -->
             <li class="ellipsis-1-line"><strong>For Grade:</strong> 1,2,3,4,5</li>
             <li class="ellipsis-1-line"><strong>Language:</strong> English</li>
             <li class="ellipsis-1-line"><strong>Translation Available in:</strong><br><a href="/telgu">Telgu</a>, Marathi ... 
               <a href="/telgu" class="card-lang-link" data-rid="c1" >+ 4 languages</a></li>
           </ul>
         </div>
         <ul class="info-list my-2">
           <li><i class="fi fi-rs-clock"></i> 10 Mins read</li>
           <li><i class="fi fi-rs-users"></i> For: Teachers</li>
         </ul>
 
 
       <ul class="social-info-list">
         <!-- fNormal state -->
         <li><button class="btn btn-link manageLike" data-rid="1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Like"><i class="fa-regular fa-heart"></i><span>1k</span></button></li>
         <li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Comment"><i class="fi fi-rs-comment"></i> 5</a></li>
         <li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Views"><i class="fi fi-rs-eye"></i> 1500</a></li>
         <!-- if user likes it active state -->
         <!-- <li><button class="btn btn-link liked" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Unlike" ><i class="fa-solid fa-heart"></i> Liked</button></li>
         -->
         <li><button data-rid="1" data-hlink="https://anant.salgaonkar.in" class="btn btn-link share-card-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Share"><i class="fa-solid fa-share-nodes"></i> 999</button></li>
       </ul>
 
       </div>
       
     </div>
     </div>
     <!-- card content ends above -->
  
   <!-- </a> -->
   </div>
   <!-- each card ends -->
 </div>
  
  <div class="swiper-slide">
    <!-- each card -->
    <div class="display-card">
     
      <!-- add documntaiton -->
      
      <!-- <button class="btn bookmark saved" data-rid="1" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from Bookmark"><i class="fa-solid fa-bookmark"></i></button> -->
  <!-- style="--ribbon-bg-color: #0CAC8B; --ribbon-text-color: #ffffff;" if we want to use css variables in future -->
      <div class="ribbon-lbl ribbion-bg-green" >
        <span class="cat-icon" ><img src="/static/images/cms/cat-icons/vector-03.svg" class="img-fluid"></span>
        <span class="cat-name">Module</span>
      </div>
      <div>
      <div class="image-layer">
       
        <a href="#">
      <picture class="d-block w-100">
        <!-- <source srcset="/static/images/cms/slider/teacher-banner-mobile.jpg"
                media="(max-width: 800px)"> -->
          <source srcset="https://via.placeholder.com/360x240.webp/0000ff/808080" type="image/webp">
  
          <source srcset="https://via.placeholder.com/480x320.jpg/0000ff/808080" type="image/jpg">
  
          <!-- <source srcset="logo-768.png 768w, logo-768-1.5x.png 1.5x"> -->
          
          <img src="https://via.placeholder.com/480x320.jpg/0000ff/808080" class="img-fluid w-100"  alt="" />
      </picture>
      </a>
      </div>
      </div>
  
    <!-- <a href="#" title="subject-name"> -->
      <div class="card-content">
        <button class="btn bookmark saved" data-rid="1" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from Bookmark"><i class="fa-solid fa-bookmark"></i></button>
      <div class="card-data-section">
        <!-- <img src="https://via.placeholder.com/280X320/0000FF/808080 ?text = each subject" class="img-fluid" alt="subject-name"> -->
       
        
          
          <div class="content">
            <a href="">
            <h5 class="title ellipsis-2-lines"> New Proportional Reasoning lorem ispum can do it Proportional Reasoning lorem ispum can do it</h5>
            </a>
            <!-- <div class="w-100">
              <div class="row g-0 flex-column">
                <div class="col">
                  <strong>Subject:</strong> English jaklsjjalsjljalsdjlajdsl
                </div>
                <div class="col">
                  <strong>Topic:</strong> Computer Science
                </div>
              </div>
            </div> -->
            <div class="infoset">
              <ul class="data-list">
                <li class="ellipsis-1-line"><strong>Subject:</strong> English  jaklsjjalsjljalsdjlajdsljaklsjj alsjljalsdjlajdsljaklsjjalsjljalsdjlajdsl</li>
                <li class="ellipsis-1-line"><strong>Topic:</strong> Computer Science</li>
             
              </ul>
            </div>
              
            
          
        </div>
  
  
      </div>
      <div class="card-infographics">
        <div class="slidingbox-layer">
  
  
          <div class="desc">
            <ul class="data-list">
              <!-- <li class="ellipsis-1-line"><strong>Subject:</strong> English asjkajdjaljsdlkjaklsjd kjal djslka s</li>
              <li class="ellipsis-1-line"><strong>Topic:</strong> Computer Science</li> -->
              <li class="ellipsis-1-line"><strong>For Grade:</strong> 1,2,3,4,5</li>
              <li class="ellipsis-1-line"><strong>Language:</strong> English</li>
              <li class="ellipsis-1-line"><strong>Translation Available in:</strong><br><a href="/telgu">Telgu</a>, Marathi ... 
                <a href="/telgu" class="card-lang-link" data-rid="c1" >+ 4 languages</a></li>
            </ul>
          </div>
          <ul class="info-list my-2">
            <li><i class="fi fi-rs-clock"></i> 10 Mins read</li>
            <li><i class="fi fi-rs-users"></i> For: Teachers</li>
          </ul>
  
  
        <ul class="social-info-list">
          <!-- fNormal state -->
          <li><button class="btn btn-link manageLike" data-rid="1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Like"><i class="fa-regular fa-heart"></i><span>1k</span></button></li>
          <li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Comment"><i class="fi fi-rs-comment"></i> 5</a></li>
          <li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Views"><i class="fi fi-rs-eye"></i> 1500</a></li>
          <!-- if user likes it active state -->
          <!-- <li><button class="btn btn-link liked" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Unlike" ><i class="fa-solid fa-heart"></i> Liked</button></li>
          -->
          <li><button data-rid="1" data-hlink="https://anant.salgaonkar.in" class="btn btn-link share-card-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Share"><i class="fa-solid fa-share-nodes"></i> 999</button></li>
        </ul>
  
        </div>
        
      </div>
      </div>
      <!-- card content ends above -->
   
    <!-- </a> -->
    </div>
    <!-- each card ends -->
  </div>
  
  <!-- wrapper ends below -->
  </div>
  
  <!-- 
  <div class="swiper-pagination swiper-pagination1"></div> -->
  </div>
  <!-- swiper ends above -->
  
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  
  
  
  </div>
  <!-- box-swiper ends above -->
  
  <!-- Modal -->
  <!-- model to shoe languages -->
  <div class="modal fade" id="cardLangModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Translation Available in</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <a href="#">English</a>,
      <a href="#">Hindi</a>,
      <a href="#">Marathi</a>,
      <a href="#">Urdu</a>,
      <a href="#">Tamil</a>,
      <a href="#">Bengali</a>
      and <a href="#">Mallaym</a>.
    </div>
   
  </div>
  </div>
  </div>
  <!-- model ends -->
  
  <!-- model share - links shd change dynamically -->
  <!-- common models can be stored at 1 common place -->
  <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="shareModalLabel">Share this</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="share-container">
       <div class="container">
        <div class="row">
          <div class="col">
            <h6 class="text-center my-3">Share this link via</h6>
           <ul class="nav-horizonal-links social-connect">
             <li>
               <!-- link shd change dynamically -->
               <a href="#"  class="mail-btn social-share mail"><i class="fa-solid fa-envelope"></i></a>
              </li>
              <li>
                <a href="#" class="ln-btn social-share linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
               </li>
               <li>
                <a href="#" class="fb-btn social-share facebook""><i class="fa-brands fa-facebook"></i></a>
               </li>
               <li>
                <a href="#" class="te-btn social-share telegram""><i class="fa-brands fa-telegram"></i></a>
               </li>
               <li>
                <a href="#" class="wh-btn social-share whatsapp""><i class="fa-brands fa-whatsapp"></i></a>
               </li>
               <li>
                <a href="#" class="tw-btn social-share twitter""><i class="fa-brands fa-twitter"></i></a>
               </li>
          </ul>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col copy-container">
            <h6 class="text-center my-3">or copy link</h6>
  
            <div class="input-group mb-3 field" >
              <span class="input-group-text"><i class="fa-solid fa-link"></i></span>
              
              <input type="text" class="form-control copy-input" placeholder="url" aria-label="copy url" aria-describedby="button-addon2" readonly value="example.com/share-link">
              <button class="btn btn-outline-secondary copy-btn" type="button" id="button-copy">Copy</button>
            </div>
  
          </div>
        </div>
  
  
        </div>
      </div>
    </div>
    <div class="modal-footer border-top-0">
      <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button> -->
    </div>
  </div>
  </div>
  </div>
  <!-- model share -->
          
          <div class="d-flex justify-content-center">
            <button type="button" class="btn theme-btn-primary mb-5">View All</button>
          </div>
  
        </div>
      </div>
  
    </div>
    </section>
    <!-- resources slider ends -->