 <!-- event slider -->
    <section class="section-container grey-top-border bg-mild-grey ">
      <div class="container">
        <div class="row">
          <div class="col">
  
            <h1 class="title text-center align-items-center">
              Events<span></span>
            </h1>

            <div class="boxed-swiper">
 <!-- Swiper -->
 
 <div class="swiper featured-swiper events-slider"> 
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <!-- each card -->
      <div class="display-card">
       
        <!-- add documntaiton -->
       
        <time datetime="2014-09-20" class="icon">
          <em>Saturday</em>
          <strong>September</strong>
          <span>20</span>
        </time>
        

        <div>
        <div class="image-layer">
         
          <a href="#">
        <picture class="d-block w-100">
          <!-- <source srcset="/assets/images/cms/slider/teacher-banner-mobile.jpg"
                  media="(max-width: 800px)"> -->
            <source srcset="https://via.placeholder.com/360x240.webp/0000ff/808080" type="image/webp">

            <source srcset="https://via.placeholder.com/480x320.jpg/0000ff/808080" type="image/jpg">

            <!-- <source srcset="logo-768.png 768w, logo-768-1.5x.png 1.5x"> -->
            
            <img src="https://via.placeholder.com/480x320.jpg/0000ff/808080" class="img-fluid w-100"  alt="" />
        </picture>
        </a>
        </div>
        </div>

      <!-- <a href="#" title="subject-name"> -->
        <div class="card-content">
          <button class="btn bookmark saved" data-rid="1" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from Bookmark"><i class="fa-solid fa-bookmark"></i></button>
        <div class="card-data-section">
          <!-- <img src="https://via.placeholder.com/280X320/0000FF/808080 ?text = each subject" class="img-fluid" alt="subject-name"> -->
         
          
            
            <div class="content">
              <a href="">
              <h5 class="title ellipsis-2-lines"> New Proportional Reasoning lorem ispum can do it Proportional Reasoning lorem ispum can do it</h5>
              </a>
              <!-- <div class="w-100">
                <div class="row g-0 flex-column">
                  <div class="col">
                    <strong>Subject:</strong> English jaklsjjalsjljalsdjlajdsl
                  </div>
                  <div class="col">
                    <strong>Topic:</strong> Computer Science
                  </div>
                </div>
              </div> -->
              <div class="infoset">
                <p class="excerpt short-desc">
                  unde omnis is te natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi
                </p>
              </div>
                
              
            
          </div>


        </div>
        <div class="card-infographics">
          <div class="slidingbox-layer">


            <div class="desc">
             
              <ul class="data-list">
                <li><strong>Location:</strong>Tiss Centre, Mumbai</li>
                 <li><strong>Seats Available:</strong>100</li>
                <li><strong>Date:</strong>03rd May 2022 to 20th May 2022</li>
                <!-- <li><strong>By:</strong> Anant Salgaonakr</li> -->
              </ul>
 
             </div>
            <ul class="info-list">
              <!-- <li><i class="fi fi-rs-clock"></i> 10 Mins read</li> -->
              <li class="align-items-center text-start"><i class="fi fi-rs-clock"></i> 60 mins / per session</li>
             
              <li><span class="badge bg-danger"><i class="fa-solid fa-building"></i> Offline</span> | <span class="badge bg-success"><i class="fa-regular fa-credit-card"></i> Paid</span></li>
              
            </ul>
    
            <ul class="social-info-list">
              <li><i class="fi fi-rs-users"></i> For: Teachers</li>
              <li><button data-rid="1" data-hlink="https://anant.salgaonkar.in" class="btn btn-link share-card-btn"><i class="fa-solid fa-share-nodes"></i> Share</button></li>
              
              <!-- fNormal state -->
              <li class="align-items-center text-end "><button class="btn btn-sm theme-btn-primary base-style">Know More <i class="fa-solid fa-circle-chevron-right"></i></button></li>
              <!-- if user likes it active state -->
              <!-- <li><button class="btn btn-link liked" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Unlike" ><i class="fa-solid fa-heart"></i> Liked</button></li>
              -->
              
            </ul>

          </div>
          
        </div>
        </div>
        <!-- card content ends above -->
     
      <!-- </a> -->
      </div>
      <!-- each card ends -->
    </div>

    



    <!-- wrapper ends below -->
  </div>


  <!-- <div class="swiper-pagination swiper-pagination3"></div> -->
</div>
<!-- swiper ends above -->

<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>



</div>
<!-- box-swiper ends above -->

            
            <div class="d-flex justify-content-center">
              <button type="button" class="btn theme-btn-primary mb-5">View All</button>
            </div>
  
          </div>
        </div>
  
      </div>
      </section>


    <!-- event slider ends -->