  <!-- just change order and border-right to make sidebar left side -->
  <div class="col-lg-12 col-xl-3 order-1 sidebar border-right bg-white">
    <!-- side-canvas -->
      <div class="side-canvas">
        <div class="slide-strip-container">
          <div class="side-slide-strip">
            <i class="fi fi-rs-settings-sliders"></i>Filters
          </div>
        </div>
        
   <!-- sliding-sidebar -->
    <div class="sliding-sidebar">
      
      <div class="d-flex justify-content-between align-items-center">
      <h6 class="title"><i class="fa-solid fa-sliders"></i>Fliters</h6> <button type="button" class="side-close-btn" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="controls">
        <!-- <button>Collepsed</button>
        <button>Expanded</button>
        <button>Checked All</button> -->
        <button class="btn btn-sm btn-success">Clear All</button>
      </div>

      <div>
        <!-- collapse primayuser -->
<button class="btn btn-toogler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="true" aria-controls="collapseExample">
  <span class="btn-title">Primary Users </span> <span class="btn-icon"><i class="fa-solid fa-caret-down"></i></span> 
  </button>
  <div class="collapse show" id="collapseUsers">
  <div class="card card-body">
  <!-- multicheckbox tree -->
  <ul class="tree">
  <li class="has">
  <input type="checkbox" name="primaryUser" value="teacher" id="teacher">
  <label for="teacher">Teacher</label>
  </li>
  <li class="has">
  <input type="checkbox" name="primaryUser" value="student" id="student">
  <label for="students">Student</label>
  </li>
  
  </ul>
  <!-- multicheckbox tree ends -->
  </div>
  </div>
  <div class="clearfix"></div>
      <!-- collapse Modules -->
      <button class="btn btn-toogler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseModules" aria-expanded="true" aria-controls="collapseExample">
        <span class="btn-title">Resource Types</span> <span class="btn-icon"><i class="fa-solid fa-caret-down"></i></span>
      </button>
      <div class="collapse show" id="collapseModules">
        <div class="card card-body">
          <!-- multicheckbox tree -->
        <ul class="tree">

          <li class="">
            <input type="checkbox" name="resourceType" value="tutorials" id="rt1">
            <label for="rt1" >
              <span class="badge-dot color-tutorials">
                <span class="visually-hidden">Resource type Tutorials</span>
              </span>
              <span class="text_lbl">Tutorials</span> <span class="total">(15)</span>
            </label>
          </li>

          <li class="">
            <input type="checkbox" name="resourceType" value="module" id="rt2">
            <label for="rt2" >
              <span class="badge-dot color-module">
                <span class="visually-hidden">Resource type Module</span>
              </span>
              <span class="text_lbl">Module</span> <span class="total">(15)</span>
            </label>
          </li>

          <li class="">
            <input type="checkbox" name="resourceType" value="interactive" id="rt3">
            <label for="rt3" >
              <span class="badge-dot color-interactive">
                <span class="visually-hidden">Resource type Interactive</span>
              </span>
              <span class="text_lbl">Digital Interactive</span> <span class="total">(5)</span></label>
          </li>

          <li class="">
            <input type="checkbox" name="resourceType" value="oer-curation" id="rt4">
            <label for="rt4">
              <span class="badge-dot color-curation">
                <span class="visually-hidden">OER Curation</span>
              </span>
              <span class="text_lbl">OER Curation</span> <span class="total">(5)</span></label>
          </li>

          <li class="">
            <input type="checkbox" name="resourceType" value="Collection" id="rt5">
            <label for="rt5">
              <span class="badge-dot color-tutorial">
                <span class="visually-hidden">Collection</span>
              </span>
              <span class="text_lbl">Collection</span> <span class="total">(5)</span></label>
          </li>
          
          
        </ul>
      <!-- multicheckbox tree ends -->
        </div>
      </div>
      <!-- collapse subect ends -->

      <div class="clearfix"></div>

      <!-- collapse subject -->
      <button class="btn btn-toogler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSubject" aria-expanded="true" aria-controls="collapseExample">
      <span class="btn-title">Subjects </span> <span class="btn-icon"><i class="fa-solid fa-caret-down"></i></span>
      </button>
      <div class="collapse show" id="collapseSubject">
        <div class="card card-body">
          <!-- multicheckbox tree -->
        <ul class="tree">
          <li class="has">
            <input type="checkbox" name="domain" value="Math">
            <label title="Math" >
              
              <span class="text_lbl">Math</span> <span class="total">(15)</span>
              
              <i class="fa-solid fa-angle-down"></i>
            </label>
            <ul>
              <li class="">
                <input type="checkbox" name="subdomain" value="Agriculture, Dairy &amp; Animal Science" id="sd1">
                <label for="sd1" ><span class="text_lbl">Agriculture, Dairy &amp; Animal Science </span></label>
              </li>
              <li class="">
                <input  id="sd2" type="checkbox" name="subdomain" value="Agricultural Engineering">
                <label for="sd2"><span class="text_lbl">Agricultural Engineering Agricultural Engineering</span> </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Agricultural Economics &amp; Policy">
                <label>Agricultural Economics &amp; Policy </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Agriculture, Multidisciplinary">
                <label>Agriculture, Multidisciplinary </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Agronomy">
                <label>Agronomy </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Plant Sciences,Botany">
                <label>Plant Sciences,Botany </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Environmental Sciences">
                <label>Environmental Sciences </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Fisheries">
                <label>Fisheries </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Food Science &amp; Technology">
                <label>Food Science &amp; Technology </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Forestry">
                <label>Forestry </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Horticulture">
                <label>Horticulture </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Soil Science">
                <label>Soil Science </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Veterinary Sciences">
                <label>Veterinary Sciences </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Water Resources">
                <label>Water Resources </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Biodiversity Conservation">
                <label>Biodiversity Conservation </label>
              </li>
            </ul>
          </li>
          <li class="has">
            <input type="checkbox" name="domain" value="Biological Sciences">
            <label>Biological Sciences <span class="total">(19)</span>
              <i class="fa-solid fa-angle-down"></i>
            </label>
            <ul>
              <li class="">
                <input type="checkbox" name="subdomain" value="Biology">
                <label>Biology </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Cell &amp; Tissue Engineering">
                <label>Cell &amp; Tissue Engineering </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Biophysics">
                <label>Biophysics </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Biotechnology">
                <label>Biotechnology </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Cell Biology">
                <label>Cell Biology </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Biochemical Research Methods">
                <label>Biochemical Research Methods </label>
              </li>
              <li class="has">
                <input type="checkbox" name="subdomain" value="Biochemistry &amp; Molecular Biology">
                <label>Biochemistry &amp; Molecular Biology 
                  <!-- <span class="total">(1)</span> -->
                </label>
                <!-- <ul>
                  <li>
                    <input type="checkbox" name="subject[]" value="Analytical Biochemistry">
                    <label>Analytical Biochemistry</label>
                  </li>
                </ul> -->
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Mathematical &amp; Computational Biology">
                <label>Mathematical &amp; Computational Biology </label>
              </li>
              <li class="has">
                <input type="checkbox" name="subdomain" value="Microbiology">
                <label>Microbiology 
                  <!-- <span class="total">(2)</span> -->
                </label>
                <!-- <ul>
                  <li>
                    <input type="checkbox" name="subject[]" value="Pharmaceutical Microbiology">
                    <label>Pharmaceutical Microbiology</label>
                  </li>
                  <li>
                    <input type="checkbox" name="subject[]" value="Fermentation Technology">
                    <label>Fermentation Technology</label>
                  </li>
                </ul> -->
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Ecology">
                <label>Ecology </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Evolutionary Biology">
                <label>Evolutionary Biology </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Developmental Biology">
                <label>Developmental Biology </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Entomology">
                <label>Entomology </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Limnology">
                <label>Limnology </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Marine &amp; Freshwater Biology">
                <label>Marine &amp; Freshwater Biology </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Mycology">
                <label>Mycology </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Ornithology">
                <label>Ornithology </label>
              </li>
              <li class="">
                <input type="checkbox" name="subdomain" value="Reproductive Biology">
                <label>Reproductive Biology </label>
              </li>
              <li class="has">
                <input type="checkbox" name="subdomain" value="Zoology">
                <label>Zoology 
                  <!-- <span class="total">(1)</span> -->
                </label>
                <!-- <ul>
                  <li>
                    <input type="checkbox" name="subject[]" value="Zoology">
                    <label>Zoology</label>
                  </li>
                </ul> -->
              </li>
            </ul>
          </li>
          
        </ul>
      <!-- multicheckbox tree ends -->
    </div>
    </div>
    <div class="clearfix"></div>
    <!-- collapse subect ends -->
    
<!-- collapse grades -->
<button class="btn btn-toogler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGrade" aria-expanded="true" aria-controls="collapseExample">
<span class="btn-title">Grades </span> <span class="btn-icon"><i class="fa-solid fa-caret-down"></i></span> 
</button>
<div class="collapse show" id="collapseGrade">
<div class="card card-body">
<!-- multicheckbox tree -->
<ul class="tree">
<li class="has">
  <input type="checkbox" name="grade" value="primary" id="g1">
  <label for="g1">Primary(K5)</label>
</li>
<li class="has">
  <input type="checkbox" name="grade" value="upper-primary" id="g2">
  <label for="g2">Upper Primary(6-8)</label>
</li>
<li class="has">
  <input type="checkbox" name="grade" value="secondary" id="g3">
  <label for="g3">Secondary(9-10)</label>
</li>
<li class="has">
  <input type="checkbox" name="grade" value="higher-secondary" id="g3">
  <label for="g4">Higher Secondary(11-12)</label>
</li>
<li class="has">
  <input type="checkbox" name="grade" value="k-12" id="g3">
  <label for="g5">K-12</label>
</li>
</ul>
<!-- multicheckbox tree ends -->

</div>

</div>
<div class="clearfix"></div>
<!-- collapse grades ends -->





<!-- collapse Languages -->
<button class="btn btn-toogler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLanguage" aria-expanded="true" aria-controls="collapseExample">
<span class="btn-title">Languages Support</span> <span class="btn-icon"><i class="fa-solid fa-caret-down"></i></span> 
</button>
<div class="collapse show" id="collapseLanguage">
<div class="card card-body">
<!-- multicheckbox tree -->
<ul class="tree">
<li class="has">
<input type="checkbox" name="language" value="english" id="english">
<label for="english">English</label>
</li>
<li class="has">
<input type="checkbox" name="language" value="hindi" id="hindi">
<label for="hindi">Hindi</label>
</li>
<li class="has">
<input type="checkbox" name="language" value="marathi" id="marathi">
<label for="marathi">Marathi</label>
</li>
<li class="has">
<input type="checkbox" name="language" value="telugu" id="telugu">
<label for="telugu">Telugu</label>
</li>
<li class="has">
<input type="checkbox" name="language" value="tamil" id="tamil">
<label for="tamil">Tamil</label>
</li>
<li class="has">
<input type="checkbox" name="language" value="punjabi" id="punjabi">
<label for="punjabi">Punjabi</label>
</li>

</ul>
<!-- multicheckbox tree ends -->

</div>

</div>
<div class="clearfix"></div>
<!-- collapse Languages ends -->
<!-- collapse projects -->
<button class="btn btn-toogler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProject" aria-expanded="true" aria-controls="collapseExample">
  <span class="btn-title">Projects </span> <span class="btn-icon"><i class="fa-solid fa-caret-down"></i></span> 
  </button>
  <div class="collapse show" id="collapseProject">
  <div class="card card-body">
  <!-- multicheckbox tree -->
  <ul class="tree">
  <li class="has">
  <input type="checkbox" name="project" value="p1" id="p1">
  <label for="p1">Project 1</label>
  </li>
  <li class="has">
  <input type="checkbox" name="project" value="p2" id="p2">
  <label for="p2">Project 2</label>
  </li>
  <li class="has">
  <input type="checkbox" name="project" value="p3" id="p3">
  <label for="p3">Project 3</label>
  </li>
  </ul>
  <!-- multicheckbox tree ends -->
  </div>
  </div>
  <div class="clearfix"></div>



<!-- collapse Locale -->
<!-- <button class="btn btn-toogler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLocale" aria-expanded="true" aria-controls="collapseExample">
Locale
</button>
<div class="collapse show" id="collapseLocale">
<div class="card card-body">

<select class="form-select" aria-label="Default select example" name="locale" id="locale">
<option selected value="">English</option>
<option value="urdu">Urdu</option>
<option value="marathi">Marathi</option>
<option value="hindi">Hindi</option>
</select>

</div>

</div>
<div class="clearfix"></div> -->
<!-- collapse Locale ends -->


<!-- <button class="btn btn-success" type="button" id="filterSubmit_btn">Submit</button> -->
      <form class="" name="form_filter" id="form_filter" action="#" method="get">
        <input type="hidden" name="resources" value="">
        <input type="hidden" name="subjects" value="">
        <input type="hidden" name="topics" value="">
        <input type="hidden" name="grades" value="">
        <input type="hidden" name="projects" value="">
        <input type="hidden" name="languages" value="">
        <input type="hidden" name="primaryUsers" value="">
        <!-- pural -->
        <!-- <input type="hidden" name="locales" value=""> -->
        <input type="hidden" name="sortby" value="">
        <input type="hidden" name="view" value="">
        <input type="hidden" name="searchBy" value="">
        
      </form>

</div>

    </div>
    <!-- sliding-sidebar ends -->
    <div class="sidebar-content">
    
    </div>
    <!-- sidebar ends above -->
    </div>
    <!-- side canvas ends -->
  </div>
  <!-- section col-4 ends above -->