
  <section class="section-container bg-style--section-04">
   <div class="container">
     <div class="row">
       <div class="col">
         
         <h1 class="title text-center align-items-center">
           Why Vrachna
           <span></span>
         </h1>
 
       </div>
     </div>
 
     <div class="row mt-5">
       <div class="col-lg-4 d-flex justify-content-center">
         <div class="each-why">
           <div class="img-layer">
             <img class="img-fluid" src="static/images/static/why01.svg">
             </div>
           <h5>Hub of activites</h5>
           <p>
             Hub of activites for teachers, educators and Students
           </p>
         </div>
       </div>
 
       <div class="col-lg-4 d-flex justify-content-center">
         <div class="each-why">
           <div class="img-layer">
             <img class="img-fluid" src="static/images/static/why02.svg">
             </div>
           <h5>Design thinking lab</h5>
           <p>
             Hub of activites for teachers, educators and Students
           </p>
         </div>
       </div>
 
       <div class="col-lg-4 d-flex justify-content-center">
         <div class="each-why">
           <div class="img-layer">
             <img class="img-fluid" src="static/images/static/why03.svg">
             </div>
           <h5>University & School Partnership</h5>
           <p>
             Hub of activites for teachers, educators and Students
           </p>
         </div>
       </div>
 
     </div>
 
     <div class="row">
       <div class="col-lg-4 d-flex justify-content-center">
         <div class="each-why">
           <div class="img-layer">
           <img class="img-fluid" src="static/images/static/why04.svg">
           </div>
           <h5>Outreach Advocacy &
             Scaling</h5>
           <p>
             Hub of activites for teachers, educators and Students
           </p>
         </div>
       </div>
 
       <div class="col-lg-4 d-flex justify-content-center">
         <div class="each-why">
           <div class="img-layer">
             <img class="img-fluid" src="static/images/static/why05.svg">
             </div>
           <h5>Certification Courses & Research
             Studeis</h5>
           <p>
             Hub of activites for teachers, educators and Students
           </p>
         </div>
       </div>
 
       <div class="col-lg-4 d-flex justify-content-center">
         <div class="each-why">
           <div class="img-layer">
             <img class="img-fluid" src="static/images/static/why06.svg">
             </div>
           <h5>Teacher Prepartion lab</h5>
           <p>
             Hub of activites for teachers, educators and Students
           </p>
         </div>
       </div>
 
     </div>
 
     
 
   </div>
 </section>